@import "tailwindcss";


html, body, #root { height: 100%; }
body { background: #050816; color: #e6eef8; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }




.shiny-text {
  background: linear-gradient(90deg,#fff,#dbeafe 30%,#fff 60%,#fff);
  -webkit-background-clip: text; background-clip: text; color: transparent;
  background-size: 200% 100%;
  animation: shine 2.2s linear infinite;
}
@keyframes shine { 0% { background-position:200% 0 } 100% { background-position:-200% 0 } }

@media (prefers-reduced-motion: reduce) {
  .shiny-text { animation: none !important; }
}
